<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Jasmine Unit tests</title>
</head>
<body>

    <div class="wrapper" data-ng-app="unitTestApp" ng-controller="DataTypesController">
        {{pageTitle}}
        <li data-ng-repeat="dataType in dataTypes">
            {{ dataType.name }}
        </li>

        <span>
            Remote data:
        </span>
        <li data-ng-repeat="data in remoteData.value">
            {{ data.CategoryName }}
        </li>
        {{remoteData.newAttribute}}
    </div>
    <script src="Scripts/lib/angular.js"></script>
    <script src="Tests/lib/angular-mocks.js"></script>
    <script src="Tests/lib/jasmine.js"></script>
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/controller.js"></script>
    <script src="Scripts/app/service.js"></script>
    <script src="Scripts/services/DataTypesService.js"></script>
    <script src="Scripts/services/RemoteDataService.js"></script>
    <script src="Scripts/controllers/DataTypesController.js"></script>

</body>
</html>
